<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lauras' art</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="header">
        <header>
            <h1>Art instead of articles</h1>
        </header>
    </div>

    <div id="nav">
        <nav>
        <ul>
            <li><a href="4Bpub/index.html" target="_blank"><b>Who is Lauras?</b></a></li>
            <li><a href="4Bpub/second.html" target="_blank"><b>Lauras' second life</b></a></li>
        </ul>
        </nav>
    </div>

    <main>

<div class="equalheight">

    <section class="vertical double">
        <div id="section" class="half">
                <h2>Art to burn</h2>
                    <p>Burn some art, free yourself.</p>
                    <p>Hide some art for future kids.</p>
                    <p>Cry about some art and forget it.</p>
        </div>

        <div id="article" class="half">
                <h2>Try making art</h2>
                    <p>You understand something when you live through it.</p>
                    <p>You understand yourself when you express yourself.</p>
                    <p>Make some art. It will inspire you for change.</p>
        </div>
    </section>

    <section class="vertical third">
        <div id="aside" class="half">
                <h3>Art needs nothing</h3>
                    <p>To create once, you need an urge.</p>
                    <p>To create many times, you need idle time.</p>
                    <p>Make yourself busy with a lot of nothing.</p>
        </div>
    </section>

</div>

    </main>

    <footer>
        <p id="footer">&copy;2024 Lauras</p>
    </footer>
</body>
</html>