<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lauras' art</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div id="header">
        <header>
            <h1>Art instead of articles</h1>
        </header>
    </div>

    <div id="nav">
        <nav>
        <ul>
            <li><a href="4Bpub/index.html" target="_blank"></a><li>
            <li><a href="4Bpub/second.html" target="_blank"></a><li>
            <li><a href="#burn">Art to burn</a></li>
            <li><a href="#try">Try making art</a></li>
            <li><a href="#rest">Art needs nothing</a></li>
        </ul>
        </nav>
    </div>

    <main>

    <div id="aside">
        <aside id="rest">
            <h3>Art needs nothing</h3>
                <p>To create once, you need an urge.</p>
                <p>To create many times, you need idle time.</p>
                <p>Make yourself busy with a lot of nothing.</p>
        </aside>
    </div>
    
    <div id="section">
        <section id="burn">
            <h2>Art to burn</h2>
                <p>Burn some art, free yourself.</p>
                <p>Hide some art for future kids.</p>
                <p>Cry about some art and forget it.</p>
        </section>
    </div>

    <div id="article">
        <article id="try">
            <h2>Try making art</h2>
                <p>You understand something when you live through it.</p>
                <p>You understand yourself when you express yourself.</p>
                <p>Make some art. It will inspire you for change.</p>
        </article>
    </div>

    </main>

    <footer>
        <p id="footer">&copy;2024 Lauras</p>
    </footer>
</body>
</html>