aside {
  width: 35%;
  padding: 25px;
  float: right;
}
#header {
    background-color: beige;
}
#nav {
    background-color: bisque;
}
#section {
    background-color: blanchedalmond;
}
#article {
    background-color: burlywood;
}
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }